.menu-container {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    color: #333;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.menu-header {
    background-color: #06275a;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 10px 20px;
    border: 2px solid #424242;
    border-radius: 10px;
    background-color: #06275a;
    color: #FFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    font-weight: bold;
}

.header-text {
    text-align: left;
}

select {
    width: 150px;
    margin-bottom: 5px;
    margin-top: 10px;
    padding: 8px;
    font-size: 16px;
}

.menu-title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 10px 20px;
    background-color: #06275a;
    color: #FFF;
    font-weight: bold;
}

.branding-logo {
    max-height: 25%;
    max-width: 25%; 
    margin-right: 16px;
}

.header-text {
    text-align: left; 
}

.menu-body {
    display: flex;
    width: 100%;
}

.menu-items {
    flex-grow: 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    padding: 16px;
}

.menu-item {
    border: 1px solid #ddd;
    padding: 16px;
    cursor: pointer;
}

.item-name {
    font-weight: bold;
    margin-bottom: 8px;
}

.item-price {
    color: #28A745;
}

.order-printed-message {
    position: fixed;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    min-width: 300px;
    padding: 20px;
    background-color: green;
    color: white;
    z-index: 1000;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    text-align: center; 
    font-size: 1.2em;
}

.selected-items {
    flex-grow: 1;
    border-left: 1px solid #ddd; 
    padding: 16px;
    background-color: #f0f0f0; 
}

.selected-items-list {
    overflow-y: auto; 
}

.selected-item {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.branding img {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto 20px;
    padding: 0;
}


.removeButton {
    width: 20px; 
    height: 20px; 
    margin: auto 0 auto 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #ff6a00; 
    color: white;
    border: none;
    border-radius: 10px; 
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
}


 .removeButton:hover {
    background-color: #ff1a1a; 
}

.selected-item-name {
    padding: 8px;
    margin: 2px;
}

.selected-item-price {
    flex: 1;
    margin-right: 10px;
}

.removeButton {

}

.total {
    border-top: 1px solid #ddd;
    padding: 16px;
    font-weight: bold;
}

.total div {
    margin-bottom: 8px;
}


.print-button {
    background-color: #325f29;
    color: white;
    padding: 8px 16px;
    margin-bottom: 8px;
    cursor: pointer;
}



