@inherits LayoutComponentBase
@using MyGoodnessHarold.Data;
@inject NavigationManager NavigationManager

<div class="page">
	<main>
		<div class="top-row px-4">
			<button @onclick="Logout">Logout</button>
		</div>

		<article class="content px-4">
			@Body
		</article>
	</main>
</div>

@code {
	private async Task Logout()
	{
		await Task.Delay(1000);
		NavigationManager.NavigateTo("/", true);
	}
}
