@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="page">
    <main>
        <div class="top-row px-4">
            @if (IsMainPage)
            {
                <button @onclick="NavigateToProductManagement">Product Management</button>
            }
            else if (IsProductManagementPage)
            {
                <button @onclick="NavigateToProductPage">Back to Menu</button>
            }
            <button @onclick="Logout">Logout</button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private bool IsMainPage => NavigationManager.Uri.Contains("/menu", StringComparison.OrdinalIgnoreCase);
    private bool IsProductManagementPage => NavigationManager.Uri.Contains("/Product_Management", StringComparison.OrdinalIgnoreCase);

    private async Task NavigateToProductManagement()
    {
        NavigationManager.NavigateTo("/Product_Management");
    }

    private async Task NavigateToProductPage()
    {
        NavigationManager.NavigateTo("/menu");
    }

    private async Task Logout()
    {
        await Task.Delay(1000);
        NavigationManager.NavigateTo("/", true);
    }
}

